<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.uiplog.mapper.CommCacheMapper">
    <select id="getUserMainInfo" resultType="com.example.uiplog.entity.cache.UserCache">
        select t.user_id,
            t.user_type,
            t.user_name,
            t.user_no,
            t.user_phone,
            t.class_id,
            t.class_name,
            t.institute_id,
            t.institute_name,
            t.major_id,
            t.major_name,
            t.grade_name,
            t.user_photo,
            t.headteacher_id,
            s.user_name headteacherName,
            s.user_no headteacherNo,
            s.phone_no headteacherPhone
        from (
            SELECT
            a.user_id,
            max(a.user_type) user_type,
            max(a.user_name) user_name,
            max(a.user_no) user_no,
            max(a.phone_no) user_phone,
            max(a.class_id) class_id,
            max(a.class_name) class_name,
            max(a.institute_id) institute_id,
            max(a.institute_name) institute_name,
            max(a.major_id) major_id,
            max(a.major_name) major_name,
            max(a.grade_name) grade_name,
            #{imgPath}||'/photo/'||floor(a.user_id/1000)||'/'||a.user_id||'.jpg' as user_photo,
            max(b.user_id) as headteacher_id
            from sc_user a
            LEFT JOIN vs_headuser_class b on a.class_id=b.class_id
            where a.user_id = #{userId}
            GROUP BY a.user_id
        ) t
        left join mv_user_staff s on t.headteacher_id=s.user_id
    </select>
    <select id="getUserLeaveInfo" parameterType="java.lang.Integer"  resultType="com.example.uiplog.entity.cache.UserLeaveInfo">
        select
            id as leave_id,
            leave_type_id,
            leave_remark,
            begin_time,
            end_time,
            act_user_id,
            act_date,
            act_remark,
            leave_towards,
            (select code_item_name from vc_cds106 where code_item_id = leave_type_id) as leave_type_name,
            (select user_name from sc_user b where b.user_id = a.act_user_id) as act_user_name
        from bm_leave a
        where user_id = #{userId} and act_state = 1 and use_status_id = 1
        and end_time > now()
    </select>
    <select id="getUserDormInfo" parameterType="java.lang.Integer"  resultType="com.example.uiplog.entity.cache.UserDormInfo">
        select user_id,dorm_id,dorm_name,bed_id,bed_name,check_time,late_time
        from vs_dorm_user
        where user_id = #{userId}
    </select>
</mapper>
